body {
	background: url('../images/background.jpg');
	text-align: left;
}

#forum_list {
	text-align: left;
	margin:0px 0px 15px 0px;
	padding-left:5px;
}

#forum_list li {
	margin: 4px;
	display: inline;
	list-style-type: none;  
}

#forum_list li a {
	background: url(../images/forum/townforum.png) no-repeat;
	padding: 5px 0px 5px 26px;
}

#forum_thread_move {
	width: 200px;
	position: absolute;
	background-color: #E0D7C8;
	border: 2px solid #503D2F;
	left: 132px; bottom: 25px;
	padding: 3px;
	visibility: hidden;
}

#forum_thread_move ul {
	padding-left:5px;
}

#forum_thread_move ul li {
	list-style-type: none;
	margin-bottom: 8px;
}

#forum_thread_move ul li a {
	background: url(../images/forum/townforum.png) no-repeat 0px -100px;
	padding: 5px 0px 5px 26px;
}

.forum_post {
	border-bottom: 1px solid grey;
	margin-bottom: 3px;
}

.forum_post_line {
	padding: 3px;
	background:url(../images/border/table/dark.png);
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	font-size: 11px;
}

.forum_post_edit {
	padding: 10px 0px 0px 10px;
	background: url('../images/background.jpg');
}

.forum_text {
	padding: 3px;
}

.forum_mini_button {
	background:url(../images/forum/icons.png);
	width: 25px; height: 25px; 
}

.forum_thread_button {
	background: url(../images/forum/townforum.png);
	width: 23px; height: 23px;
	display: block;
}

.forum_table tr td { padding: 4px; vertical-align: middle }

.quote { border-left: 1px solid grey; padding-left: 2px;}
.quote_author { font-size: 11px; font-weight: bold; margin-top: 5px;}
.quote_content { margin-left: 15px; }